<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ServiceLog" value="BCause Automated System Services (BASS)" />
    <add key="CurrencyUpdateSource" value="BASS Currency Rate Update Service" />
    <add key="OfferEmailSource" value="BASS Offer Email Service" />
    <add key="CurrencyApiBaseUrl" value="https://apilayer.net/api/live" />
    <add key="CurrencyApiAccessKey" value="54d42f9f53450c9c5c2ed82e511ac548" />
    <add key="ForeignCurrency" value="EUR,JPY,KRW,THB,AUD,CNY,BDT" />
    <add key="BaseCurrency" value="USD" />
    <add key="MaximumRetryCount" value="10" />
    <add key="EnableSsl" value="false" />
    <add key="SMTP_Server" value="test@dtpdesign.jp" />
    <add key="SMTP_Password" value="bcause/2018" />
    <add key="SMTP_Mail" value="smtp.dtpdesign.jp" />
    <add key="SMTP_PortNo" value="587" />
    <add key="SMTP_SenderName" value="b-cause Inc." />
  </appSettings>
  <connectionStrings>
    <add name="CentralConnection" connectionString="data source=78.46.57.156;Initial catalog=CentralDB_Live;User ID=sa;Password=bcause!@2017;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>